@charset "utf-8";
@import 'common.css';
* {
  outline: 1px solid green;
  margin: 0;
}

body {
  background-color: var(--color-background2);
}

/* 기본레이아웃 */
.wrap {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1500px) 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'hd hd hd'
    'l fg r'
    'l mn r'
    'l ft r';
}

.hd-l,
.hd-r {
  grid-area: hd;
}

.fg-l,
.mn-l,
.ft-l {
  grid-area: l;
  background-color: #dfdfdf;
}

.fg-r,
.mn-r,
.ft-r {
  grid-area: r;
  background-color: #dfdfdf;
}

/* gnb */
.hd {
  grid-area: hd;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

.hd_menu {
  height: 100%;
}

.hd_menu-list1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.menu-list1_item {
  position: relative;
  width: 140px;
  font-size: 15px;
  text-align: center;
  line-height: 2em;
}

.menu-list1_item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu-list1_item .hd_menu-list2 {
  display: none;
  width: 100%;
  position: absolute;
  background-color: var(--color-background);
}

.hd_menu-list2 li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#logo {
  display: flex;
  align-items: center;
}

#logo h3 {
  margin: 0 10px;
}

#join {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hamburger {
  display: none;
}

@media screen and (width >= 568px) {
  .menu-list1_item:hover .hd_menu-list2 {
    display: block;
  }
}

@media screen and (width < 790px) {
  #logo {
    width: 150px;
    text-align: center;
  }
}

@media screen and (width < 680px) {
  #logo h3 {
    display: none;
  }
  #logo {
    justify-content: center;
  }
}

@media screen and (width <= 590px) {
  .menu-list1_item {
    display: none;
  }
  .hd-r {
    display: none;
  }
  .hd_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #logo {
    width: 150px;
    text-align: center;
  }
  #logo h3 {
    display: inline-block;
  }
  #join {
    display: none;
  }
  #hamburger {
    display: block;
    cursor: pointer;
  }
}

.hd.active {
  background-color: #dfdfdf;
}
.hd_menu.active {
  align-items: flex-start;
  height: 35rem;
}
.hd_menu.active #hamburger {
  margin-top: 50px;
}
.hd_menu-list1.active {
  flex-direction: column;
  width: 300px;
}
.menu-list1_item.active {
  display: block;
}

.menu-list1_item.active:hover .hd_menu-list2 {
  display: none;
}
.menu-list1_item.active .hd_menu-list2 {
  position: absolute;
  z-index: 100;
  /* top: 0px;
    right: -100%; */
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
}

/* 상단 배너 */
.fg {
  grid-area: fg;
  width: 100%;
  height: 280px;
}

/* 메인 */
.mn {
  grid-area: mn;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.mn .content {
  width: 100%;
  height: 340px;
  display: flex;
}

.item2 {
  flex-direction: column;
  height: 500px;
}

.item2 article {
  flex: 4;
}

.item2 aside {
  flex: 6;
}

.item1 article,
.item3 article {
  flex: 2;
}

.item1 aside,
.item3 aside {
  flex: 8;
}

/* footer */
.ft {
  grid-area: ft;
  width: 100%;
  height: 180px;
}
