@charset "utf-8";
@import '/css/layout.css';
/* 전체 레이아웃 */
button {
  cursor: pointer;
}
.wrap {
  display: grid;
  grid-template-rows: 0.5fr auto 6fr 3fr;
  grid-template-columns: 1fr minmax(320px, 1500px) 1fr;
  grid-template-areas:
    '. gnb .'
    '. banner .'
    '. main .'
    '. footer .';
}

.banner {
  width: 100%;
  height: 400px;
  background-color: #fff;
  margin: 30px auto;
  flex-direction: column;
  position: relative;
}

.banner p {
  margin-top: 50px;
  margin-left: 20px;
}
.banner h2 {
  margin-left: 20px;
}
/* 마이페이지 메인부분 */
.profile-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;
}
.user-profile .profile-area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* position: relative;
  left: 180px;
  top: -60px; */
  width: 300px;
  height: 150px;
  max-width: 100%;
  margin-bottom: 24px;
  border-radius: 5%;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 6%);
}

.user-profile .profile-area .upload-area2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-profile .profile-area .upload-area {
  min-width: 80px;
  height: auto;
}

.user-profile .profile-area .pet-name,
.user-profile .profile-area .pet-info {
  font-weight: bold;
  margin: 5px;
}

.user-profile .profile-make {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* position: relative; */
  left: 180px;
  top: -60px;
  width: 300px;
  height: 150px;
  max-width: 100%;
  margin-bottom: 24px;
  border-radius: 5%;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 6%);
  opacity: 70%;
}

/* 메인영역 */
.main {
  display: flex;
  width: 100%;
  height: 900px;
  border: 4px solid orangered;
  background-color: #fff;
  font-weight: bold;
}
/* GNB */
.main .main-gnb {
  flex: 3;
  margin: 30px;
}
.main .main-gnb a,
li {
  line-height: 35px;
}

/* 정보관리 */
.main .mypage_content {
  flex: 9;
  margin: 30px;
}

/* 메인타이틀 */
.main .mypage_content .myprofile-top {
  padding-bottom: 20px;
  border-bottom: 2px solid #222222;
  font-size: 24px;
  margin-bottom: 30px;
}
.myprofile-list {
  /* display: flex; */
  align-items: center;
  border-bottom: 2px solid #858585;
  margin-bottom: 30px;
}
.myprofile-list .list-frm {
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 10px;
}
/* .myprofile-list .list-frm .list {
  width: 10%;
} */
.myprofile-list .myprofile-list-image {
  display: flex;
  flex-wrap: nowrap;
  /* margin: 10px; */
  margin-bottom: 10px;
}
.myprofile-list .myprofile-list-text {
  margin: 30px;
  position: relative;
  left: 30px;
  font-size: 14px;
}
img {
  object-fit: contain;
}

.myprofile-list .list-frm .list {
  width: 30%;
  margin: inherit;
}
/* 사진등록버튼 */
.myprofile-button {
  display: flex;
  align-items: center;
  margin: auto;
}

/* 버튼 스타일 */
.myprofile-button .btn-frm {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 100px;
  border: 1px solid #333;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  background-color: #fff;
  box-sizing: border-box;
  margin: auto;
  /*background: #f29a2e;
   box-sizing: border-box;
  width: 80px;
  height: 40px;
  border: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  border-radius: 5%; */
}

.myprofile-button .btn-frm:hover {
  background: #333;
  color: #fff;
  /* #f26d3d; */
}

/* 수정부분 */
/* 버튼 css */
/* .btn-group {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
} */

/* 비밀번호 */
.my-info .my-info-modify .input > label {
  display: inline-block;
  min-width: 165px;
  line-height: 32px;
}

/* 닉네임 */
.my-info-txt > ul > li {
  margin-top: 5px;
  color: #777777;
  padding-left: 8px;
  position: relative;
  line-height: 1.5;
  font-size: 14px;
}

.my-info-txt .input,
.my-info-txt .btn-group {
  margin: 10px;
}
