@charset "utf-8";
/* reset css : 기본 요소의 css 초기화*/
body,
figure,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
