@charset "utf-8";
@import '/css/common.css';
* {
  /* outline: 1px solid green; */
  margin: 0;
}

body {
  background-color: var(--color-background2);
}

/* 기본레이아웃 */
.wrap {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1500px) 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'hd hd hd'
    'l a r'
    'l b r'
    'l c r'
    'l d r'
    'l e r';
}

.hd-l,
.hd-r {
  grid-area: hd;
}

.a-l,
.b-l,
.c-l,
.d-l,
.e-l {
  grid-area: l;
  background-color: #dfdfdf;
  margin-right: 20px;
}

.a-r,
.b-r,
.c-r,
.d-r,
.e-r {
  grid-area: r;
  background-color: #dfdfdf;
  margin-left: 20px;
}

/* gnb */
.hd {
  grid-area: hd;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

.hd_menu {
  height: 100%;
}

.hd_menu-list1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.menu-list1_item {
  position: relative;
  width: 140px;
  font-size: 15px;
  text-align: center;
  line-height: 2em;
}

.menu-list1_item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu-list1_item .hd_menu-list2 {
  display: none;
  width: 100%;
  position: absolute;
  background-color: var(--color-background);
}

.hd_menu-list2 li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#logo {
  display: flex;
  align-items: center;
}

#logo h3 {
  margin: 0 10px;
}

#join {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hamburger {
  display: none;
}

@media screen and (width >= 568px) {
  .menu-list1_item:hover .hd_menu-list2 {
    display: block;
  }
}

@media screen and (width < 790px) {
  #logo {
    width: 150px;
    text-align: center;
  }
}

@media screen and (width < 680px) {
  #logo h3 {
    display: none;
  }
  #logo {
    justify-content: center;
  }
}

@media screen and (width <= 590px) {
  .menu-list1_item {
    display: none;
  }
  .hd-r {
    display: none;
  }
  .hd_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #logo {
    width: 150px;
    text-align: center;
  }
  #logo h3 {
    display: inline-block;
  }
  #join {
    display: none;
  }
  #hamburger {
    display: block;
    cursor: pointer;
  }
}

.hd.active {
  background-color: #dfdfdf;
}
.hd_menu.active {
  align-items: flex-start;
  height: 35rem;
}
.hd_menu.active #hamburger {
  margin-top: 50px;
}
.hd_menu-list1.active {
  flex-direction: column;
  width: 300px;
}
.menu-list1_item.active {
  display: block;
}

.menu-list1_item.active:hover .hd_menu-list2 {
  display: none;
}
.menu-list1_item.active .hd_menu-list2 {
  position: absolute;
  z-index: 100;
  /* top: 0px;
    right: -100%; */
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.hd {
  margin-bottom: 50px;
}
.a {
  grid-area: a;
  width: 100%;
}
.a div {
  display: flex;
  justify-content: space-between;
}
.a .list .main {
  /* height: 50px; */
  font-size: 20px;
  font-weight: bold;
}

.b {
  grid-area: b;
  width: 100%;
  height: 30px;
  margin: 15px 0px;
}
.b .search {
  justify-content: flex-start;
}
.b div .tag {
  width: 50%;
  justify-content: space-between;
  outline: 1px solid black;
  height: 30px;
  font-weight: bold;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.b .search .opt .chk {
  margin-left: 10px;
}
.b input {
  border-radius: 5px;
  height: 30px;
  display: flex;
}
.b input button {
  border-radius: 5px;
  height: 30px;
}

.b div {
  display: flex;
  align-items: center;
}
.b .search .input {
  width: 30%;
  margin-left: 10px;
}
.b .search .input input {
  width: 75%;
}
.b .search .input button {
  width: 15%;
}
.c {
  grid-area: c;
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}
.c .tag {
  background-color: #dfdfdf;
  margin: 5px;
}
.d {
  grid-area: d;
  width: 100%;
  /* height: 280px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.d .post {
  flex-direction: row;
  outline: 1px solid black;
  margin-bottom: 30px;
}
.d .post .info {
  display: flex;
  justify-content: space-between;
}
.d .post .info .pro {
  display: flex;
  flex-direction: row;
}
.d .post .info .pro .img {
  margin-right: 10px;
}
.d .post .info .pro .name div {
  padding: 5px;
}
.d .post .info .sub {
  display: flex;
  flex-direction: column;
}
.d .post .info .sub .num {
  display: flex;
}
.d .post .info .sub .num div {
  margin-right: 5px;
}
.d .post .info .sub .num .img {
  margin-right: 0;
}
.d .tag {
  background-color: #dfdfdf;
  text-align: center;
}
.d .post .preview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.d .post .preview .img {
  width: 30%;
  display: flex;
  justify-content: center;
}

.d .post .preview .review {
  flex-direction: column;
  text-align: center;
}
.d .post .preview .review .hos {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.e {
  grid-area: e;
  width: 100%;
  text-align: center;
}
.e button {
  display: inline-block;
}
