@charset "utf-8";
@import '/css/common.css';
* {
  /* outline: 1px solid green; */
  margin: 0;
}

body {
  background-color: var(--color-background2);
}

/* 기본레이아웃 */
.wrap {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'hd hd hd'
    'l main-list r'
    'l sort r'
    'l tag-list r'
    'l main-nick r'
    'l page r';
}

.hd-l,
.hd-r {
  grid-area: hd;
}

.main-list-l,
.sort-l,
.tag-list-l,
.main-nick-l,
.page-l {
  grid-area: l;
  background-color: #dfdfdf;
  margin-right: 20px;
}

.main-list-r,
.sort-r,
.tag-list-r,
.main-nick-r,
.page-r {
  grid-area: r;
  background-color: #dfdfdf;
  margin-left: 20px;
}

/* gnb */
.hd {
  grid-area: hd;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

.hd_menu {
  height: 100%;
}

.hd_menu-list1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.menu-list1_item {
  position: relative;
  width: 140px;
  font-size: 15px;
  text-align: center;
  line-height: 2em;
}

.menu-list1_item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu-list1_item .hd_menu-list2 {
  display: none;
  width: 100%;
  position: absolute;
  background-color: var(--color-background);
}

.hd_menu-list2 li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#logo {
  display: flex;
  align-items: center;
}

#logo h3 {
  margin: 0 10px;
}

#join {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hamburger {
  display: none;
}

@media screen and (width >= 568px) {
  .menu-list1_item:hover .hd_menu-list2 {
    display: block;
  }
}

@media screen and (width < 790px) {
  #logo {
    width: 150px;
    text-align: center;
  }
}

@media screen and (width < 680px) {
  #logo h3 {
    display: none;
  }
  #logo {
    justify-content: center;
  }
}

@media screen and (width <= 590px) {
  .menu-list1_item {
    display: none;
  }
  .hd-r {
    display: none;
  }
  .hd_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #logo {
    width: 150px;
    text-align: center;
  }
  #logo h3 {
    display: inline-block;
  }
  #join {
    display: none;
  }
  #hamburger {
    display: block;
    cursor: pointer;
  }
}

.hd.active {
  background-color: #dfdfdf;
}
.hd_menu.active {
  align-items: flex-start;
  height: 35rem;
}
.hd_menu.active #hamburger {
  margin-top: 50px;
}
.hd_menu-list1.active {
  flex-direction: column;
  width: 300px;
}
.menu-list1_item.active {
  display: block;
}

.menu-list1_item.active:hover .hd_menu-list2 {
  display: none;
}
.menu-list1_item.active .hd_menu-list2 {
  position: absolute;
  z-index: 100;
  /* top: 0px;
    right: -100%; */
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.hd {
  margin-bottom: 50px;
}
.main-list {
  grid-area: main-list;
  width: 100%;
}
.main-list div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.main-list .list .main {
  /* height: 50px; */
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px 0;
}
.main-list .list .selectBox {
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #f29a2e;
  font-size: 16px;
}
.main-list .list .selectBox .select {
  width: inherit;
  /* display: none; */
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
  /* opacity: 0; */
  appearance: none; /* 기록 */
}

.main-list .list .selectBox .select option {
  background: #ffd65f;
  color: #fff;
  padding: 3px 0;
  font-size: 16px;
}
.main-list .list .selectBox .icoArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: inherit;
  border-left: 2px solid #ffd65f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-list .list .selectBox .icoArrow img {
  width: 50%;
  transition: 0.3s;
}

.main-list .list .selectBox .select:focus + .icoArrow img {
  transform: rotate(180deg);
}

.sort {
  grid-area: sort;
  width: 100%;
  height: 80px;
}
.sort .search .left .tag {
  margin-left: 10px;
}

.sort .search {
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.sort .left {
  width: 50%;
  border-radius: 4px;
  outline: 3px solid #f29a2e;
  display: flex;
  height: 50px;
}
.sort .left .tag {
  margin-right: 80px;
}
.sort .search .left .selectBox select:nth-of-type(1) {
  margin-right: 30px;
}

.sort div {
  /* display: flex; */
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  /* margin-left: 10px; */
}
.sort .search {
  display: flex;
}
.sort .search .input input {
  height: 20px;
  /* width: 70%; */
  font-size: 15px;
  border-radius: 4px;
}
.sort .search .input {
  display: flex;
  /* margin-right: 50px; */
}
.sort .search .input button {
  margin-left: 10px;
}

.sort .search .left .selectBox {
  margin-right: 20px;
}
.sort .search .input input {
  border: none;
  background-color: #f7f7f7;
  outline: 2px solid #ffd65f;
  padding: 5px;
}

.sort .search .input button {
  background-color: rgb(255, 214, 95);
  border-radius: 4px;
  border: none;
  color: white;
}
input:focus {
  outline: none;
}

/* select option */

.sort .search .left .selectBox {
  position: relative;
  width: 130px;
  height: 25px;
  border-radius: 4px;
  border: 2px solid #f29a2e;
  font-size: 16px;
}
.sort .search .left .selectBox .select {
  width: inherit;
  /* display: none; */
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3;
  /* opacity: 0; */
  appearance: none; /* 기록 */
}

.sort .search .left .selectBox .select option {
  background: #ffd65f;
  color: #fff;
  padding: 3px 0;
  font-size: 16px;
}
.sort .search .left .selectBox .icoArrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 35px;
  height: inherit;
  border-left: 2px solid #ffd65f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort .search .left .selectBox .icoArrow img {
  width: 50%;
  transition: 0.3s;
}

.sort .search .left .selectBox .select:focus + .icoArrow img {
  transform: rotate(180deg);
}

.tag-list {
  grid-area: tag-list;
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}
.tag-list .tag {
  background-color: #ffd65f;
  margin: 5px;
  border-radius: 4px;
}

.main-nick {
  grid-area: main-nick;
  width: 100%;
  /* height: 280px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.main-nick .post {
  flex-direction: row;
  padding: 20px;
  outline: 3px solid #ffd65f;

  margin-bottom: 30px;
  border-radius: 10px;
}
.main-nick .post .info {
  display: flex;
  /* padding-top: 10px; */
  justify-content: space-between;
}
.main-nick .post .info .pro {
  display: flex;
  flex-direction: row;
}
.main-nick .post .info .pro .img {
  margin-right: 10px;
}
.main-nick .post .info .pro .name div {
  padding: 5px;
}
.main-nick .post .info .sub {
  display: flex;
  flex-direction: column;
}
.main-nick .post .info .sub .num {
  display: flex;
}
.main-nick .post .info .sub .num div {
  margin-right: 5px;
}
.main-nick .post .info .sub .num .img {
  margin-right: 0;
}
.main-nick .tag {
  background-color: #ffd65f;
  text-align: center;
  border-radius: 4px;
}
.main-nick .post .preview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.main-nick .post .preview .img {
  width: 30%;
  display: flex;
  justify-content: center;
}

.main-nick .post .preview .review {
  flex-direction: column;
  text-align: center;
}
.main-nick .post .preview .review .hos {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.page {
  grid-area: page;
  width: 100%;
  text-align: center;
}
.page button {
  display: inline-block;
  background-color: #ffd65f;
  border: none;
  border-radius: 4px;
  height: 30px;
}
